{% extends "base-commander.html" %}
{% load static %}
{% load thumbnail %}

{% block titre_page %} Commander {{categories_articles.nom}} {% endblock %}

{% block commander %}


<!-- 	<div class="test-item" v-for="item in cart" v-if="cart.length > 0">
		<p>[[item.nom]] - Test</p>
		<p>[[item.description]]</p>
		<p><img v-bind:src="item.image"></p>
	</div> -->


<!-- 	<div class="test-item" v-if="cart.length == 0" >
		<p>Panier vide</p>
	</div>
	<div class="test-item" v-for="item in cart" v-if="cart.length > 0">
		<p>[[item.nom]] - Test</p>
		<p>[[item.description]]</p>
		<p><img v-bind:src="item.image"></p>
	</div> -->

	<!-- If qui permet de sélectionner la page principale (ici plat), si catégorie principale (1) est plat alors on affiche l'entête, sinon on n'affiche pas -->
	{% if categories_articles.rubrique_principale == 1 %}
		
		<div class="titre-concept"><h1>Nos coups de coeur de la semaine !</h1></div>
		
		<div class="special-semaine">
			<div class="gallery items-3">
				{% for article_une in article_a_la_une %}
					<div id="item-{{article_une.id}}" class="control-operator"></div>
					{% thumbnail article_une.article.image "1000x1000" as im %}
						<figure class="item" style="background-image:url({{im.url}});">
					{% endthumbnail %} 
					{% if article_une.article.article_composer != 1 %}
						<a href="{% url 'articles_plats_pret' article_une.categories.slug article_une.categories.id %}#popup{{article_une.id}}"><p>{{article_une.article.description}}</p></a>
					{% else %}
						<a href="{% url 'articles_plats_composer' article_une.categories.slug article_une.categories.id %}#popup{{article_une.id}}"><p>{{article_une.article.description}}</p></a>
					{% endif %}
					</figure>
				{% empty %}
					<div id="item-0" class="control-operator"></div>
					<figure class="item">
					<h1>Aucun article à la une</h1>
					</figure>
				{% endfor %}
			<div class="controls">
				{% for article_une in article_a_la_une %}
					<a href="#item-{{article_une.id}}" class="control-button">•</a>
				{% empty %}
					<a href="#item-0" class="control-button">•</a>
				{% endfor %}
			</div>
			</div>
		</div>
<!-- 		<div class="special-semaine" style="background-image:url({% static 'img/salade2.jpg' %});">
			<div>
				<a href=""><p>Notre salade épinards, gorgonzola, oignons et poulets rotis au miel.</p></a>
			</div>	
		</div> -->

	<div class="titre-concept"><h1>{{categories_articles.presentation_categorie}}</h1></div>

		<div class="selection-plat">
			{% for article in sous_categories_articles %}
			<div class="article-selection-plat">
				<!-- Début de la popup présentation produit -->
				<div id="big-popup{{ article.id }}" class="image-article-selection-plat">

					<a href="#popup{{ article.id }}">
						{% thumbnail article.image "500x500" as im %}
						<img src="{{ im.url }}" alt="{{ article.nom|title }}"/>
						{% endthumbnail %} 
					</a>
				</div>

				<div id="popup{{ article.id }}" class="overlay">
					<div class="popup">
						<a class="close" href="#big-popup{{ article.id }}">&times;</a>
						{% thumbnail article.image "1000x1000" as im %}
							<div class="image-popup" style="background-image:url({{ im.url }});"></div>
						{% endthumbnail %} 
						<div class="content-popup">
							<div class="titre-plat-popup"><h1>{{ article.nom|title }}</h1></div>
							<div class="image-info-rapide"></div>
							<div class="texte-plat-popup"><p>{{ article.description }}</p></div>
						</div>
					</div>
				</div>	
				<!-- Fin de la popup présentation produit -->			
				<div class="texte-article-selection-plat">
					<div class="titre-texte-article-selection-plat"><h1>{{ article.nom|title }}</h1></div>
					<div class="texte-texte-article-selection-plat"><p>{{ article.description }}</p></div>
				</div>
				<div class="prix-texte-article-selection-plat">
					<div class="sous-catprix-texte-article-selection-plat">A partir de {{ article.prix_min|floatformat:2 }} €</div>
					<div class="sous-catprix-texte-article-selection-plat">
						{% if article.composer == 1 %}  <!-- Condition qui permet de savoir s'il est possible ou non de composer un plat. Permet d'afficher l'URL correspondante -->
						<a href="{% url 'articles_plats_composer' article.slug article.id %}">
							<img src="{% static 'img/icones/arrow-point-to-right.png' %}" alt="shopping-cart"/>
						</a>
						{% else %}
						<a href="{% url 'articles_plats_pret' article.slug article.id %}">
							<img src="{% static 'img/icones/shopping-cart.png' %}" alt="shopping-cart"/>
						</a>
						{% endif %}
					</div>
					
				</div>	
			</div>

			{% empty %}

			<p>Aucune catégorie</p>

			{% endfor %}

		</div>

	{% else %}
	
	<div class="titre-concept"><h1>{{categories_articles.presentation_categorie}}</h1></div>

		<div class="selection-plat">
			{% for article in sous_categories_articles %}
			<div class="article-selection-plat">
				<!-- Début de la popup présentation produit -->
				<div id="big-popup{{ article.id }}" class="image-article-selection-plat">

					<a href="#popup{{ article.id }}">
						{% thumbnail article.article.image "500x500" as im %}
						<img src="{{ im.url }}" alt="{{ article.nom|title }}"/>
						{% endthumbnail %} 
					</a>
				</div>

				<div id="popup{{ article.id }}" class="overlay">
					<div class="popup">
						<a class="close" href="#big-popup{{ article.id }}">&times;</a>
						{% thumbnail article.article.image "1000x1000" as im %}
							<div class="image-popup" style="background-image:url({{ im.url }});"></div>
						{% endthumbnail %} 
						<div class="content-popup">
							<div class="titre-plat-popup"><h1>{{ article.article.nom|title }}</h1></div>
							<div class="image-info-rapide">
								{% if article.gluten_info == 0 %}
									<img src="{% static 'img/icones/gluten-free.png' %}" alt="gluten-free" title="Ne contient pas de Gluten"/>
								{% else %}
								{% endif %}	
								{% if article.vegeterien_info == 1 %}
									<img src="{% static 'img/icones/radish-outline.png' %}" alt="vegetarien-friendly" title="Convient aux végétariens"/>
								{% else %}
								{% endif %}
								{% if article.type_plat_info == 1 %}
									<img src="{% static 'img/icones/fire.png' %}" alt="hot-dish" title="Plat chaud"/>
								{% else %}
								{% endif %}
								{% if article.type_plat_info == 0 %}
									<img src="{% static 'img/icones/snowflake.png' %}" alt="cold-dish" title="Plat froid"/>
								{% else %}
								{% endif %}
							</div>
							<div class="texte-plat-popup"><p>{{ article.article.description }}</p></div>

							<div class="info-plat-popup">
								<div class="infos-plat-popup">
									<img src="{% static 'img/icones/farm-grey.png' %}" alt="logo-producteurs"/>
									<h1>Les producteurs associés</h1>
									<p>
										{% for producteurs in article.producteurs.all %}
											{{producteurs.nom|title }} {{producteurs.prenom|title }} <br/>
										{% empty%}
											Pas de producteurs associés
										{% endfor %}
										
									</p>
								</div>

								<div class="infos-plat-popup">
									<img src="{% static 'img/icones/ingredients.png' %}" alt="logo-producteurs"/> 
									<h1>Ingrédients</h1>
									<p>
										{{ article.article.ingredients|title }}
									</p>
								</div>

								<div class="infos-plat-popup">
									<img src="{% static 'img/icones/allergies.png' %}" alt="logo-producteurs"/>
									<h1>Allergènes</h1>
									<p>
										{% for allergenes in article.article.allergenes.all %}
											{{allergenes.nom|title }}<br/>
										{% empty%}
											Pas d'allergie associée
										{% endfor %}
									</p>
								</div>
							</div>

						</div>
					</div>
				</div>	
				<!-- Fin de la popup présentation produit -->			
				<div class="texte-article-selection-plat">
					<div class="titre-texte-article-selection-plat"><h1>{{ article.article.nom|title }}</h1></div>
					<div class="texte-texte-article-selection-plat"><p>{{ article.article.description }}</p></div>
				</div>
				<div class="prix-texte-article-selection-plat">
					<div class="sous-catprix-texte-article-selection-plat">{{ article.prix_vente_unitaire|floatformat:2 }} €</div>
					
					<div class="sous-catprix-texte-article-selection-plat">
						<form @click.prevent="addtoCart({{article.id}}, {{article.article.article_composer|lower}})" method="post">
							{% csrf_token %}
							{{ cart_product_form }}
							<input type="image" src="{% static 'img/icones/shopping-cart.png' %}" alt="shopping-cart" />
							<input type="hidden" name="next" value="{{ request.path }}">
						</form>
					</div>					
				</div>	
			</div>

			{% empty %}

			<p>Aucun produit associé.</p>

			{% endfor %}

		</div>

	{% endif %}

{% endblock %}