.panier {
	max-width: 1500px;
	margin: auto;
}

.commander > h1 {
	text-align: center;
	width: 300px;
	margin: auto;
	padding: auto;
	letter-spacing: 1px;
	font-weight: normal;
	border-bottom: solid 1px;
}

.composition-panier-final {
	margin: auto;
	padding: auto;
	width: calc(100% - 50px);
	background-color: #FFFFFF;
	padding: 15px;
	border: solid 1px lightgrey;
	margin-top: 25px;
}

.composition-panier-final-item {
	display: flex;
	min-height: 125px;
	padding-bottom: 5px;
	border-bottom: solid 1px lightgrey;
	margin-top: 5px;
	justify-content: space-around;
}

.composition-panier-final-item-image {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 125px;
	background-size: cover;
	border-radius: 5px;
}

.composition-panier-final-item-description {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 35%;
	padding: 5px;
}

.composition-panier-final-item-description > div:first-child {
	font-size: 20px;
}

.composition-panier-final-item-description > div:nth-child(2) {
	color: grey;
	font-size: 14px;
}

.composition-panier-final-item-quantite {
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 100px;
}

.composition-panier-final-item-quantite * {
	box-sizing: border-box;
}

.composition-panier-final-item-quantite > div {
	height: 40px;
	width: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #CE3734;
	border: solid 1px lightgrey;
}

.composition-panier-final-item-quantite > div a {
	color: #FFFFFF;
}

.composition-panier-final-item-quantite > div:first-child {
	border-right: none; 
}

.composition-panier-final-item-quantite > div:nth-child(3) {
	border-left: none; 
}

.composition-panier-final-item-quantite input {
	width: 60px;
	height: 40px;
	border: solid 1px lightgrey;
	text-align: center;
}

.composition-panier-final-item-supprimer { 
	display:  flex;
	align-items: center;
	justify-content: center;
	min-width: 100px;
}

.composition-panier-final-item-supprimer img {
	width: 30px;
	padding: 10px;
}

.composition-panier-final-item-prix {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 15px;
	justify-content: center;
	border-left: solid 1px lightgrey;
}

@media only screen and (max-width: 699px){ 


.composition-panier-final-item {
	flex-direction: column;
	align-items: center;
}

.composition-panier-final-item-image {
	height: 250px;
	width: 80%;
}

.composition-panier-final-item-description {
	width: 80%;
	text-align: center;
}

.composition-panier-final-item-prix {
	border-top: solid 1px lightgrey;
	border-left: none;
}

}
