{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block producteurs %}
	<div class="menu-top-commander">
	    <div class="menu-top-commander-texte">DÉCOUVRIR</div>
	    <div class="menu-top-commander-texte">
	    	{% for nom_categorie in menu_producteurs_categories %}
	        <div class="menu-top-commander-texte-lien"><p><a href="{% url 'producteurs' nom_categorie.slug nom_categorie.ordre %}">{{nom_categorie|title}}</a></p></div>
	        {% endfor %}
	        <div class="menu-top-commander-texte-lien"></div>
	         <div class="menu-top-commander-texte-lien"></div>
	    </div> 
	</div>

	<div class="commander">

		<div class="titre-concept"><h1>{{categories_producteurs.description}}</h1></div>
		{% for producteur in producteurs %}
			<div class="container-producteur" data-aos="fade-up">
				<div class="image-producteur">
					{% thumbnail producteur.photo "500x500" as im %}
						<img src="{{ im.url }}" alt="{{ producteur.nom|title }}"/>
					{% endthumbnail %} 
				</div>
				<div class="presentation-producteur">
					
					<h1>{{producteur.nom|title}} {{producteur.prenom|title}}</h1>
					<p>{{producteur.description}}</p>

					{% if producteur.afficher_donnees_privees == True %}
						<div class="infos-producteur">
							<div class="infos-producteurs-suite">
								<div class="infos-producteurs-suite-image"><img src="{% static 'img/icones/you-are-here-black.png' %}" alt="logo-adresse"/></div>
								<div class="infos-producteurs-suite-texte">
									<p>Localisation: {{producteur.ville}} - {{producteur.code_postal}}
									</p>	
								</div>
							</div>
							<div class="infos-producteurs-suite">
								<div class="infos-producteurs-suite-image"><img src="{% static 'img/icones/harvest.png' %}" alt="logo-adresse"/></div>
								<div class="infos-producteurs-suite-texte">
									<p>Produits:
										{% for article in producteur.article_set.all %}
											{% if not forloop.first %},{% endif %}
											{{ article.nom|title }}
										{% empty %}
											Pas de produit associé à ce producteur.
										{% endfor %}
									</p>	
								</div>
							</div>

						</div>
					{% else %}

					{% endif %}
				</div>
			</div>
		{% empty %}
			<p>Aucun producteur</p>
		{% endfor %}
	</div>
{% endblock %}