{% extends "base-commander.html" %}
{% load static %}
{% load thumbnail %}

{% block panier %}
    <h1>Mon Panier</h1>

    {% for key, item in final_composed_cart %}
      {{key}}
      {{item}}
    {% empty %}
    {% endfor %}
    <div class="composition-panier-final">
    {% if final_composed_cart == None or cart == None %} <!-- Condition nécessaire pour afficher un panier vide ou non lors que les deux paniers, cart et final_composed_cart sont vides -->
      <p>Votre panier est vide.</p>

    {% else %}

      {% for key, item in final_composed_cart %}
            <div class="composition-panier-final-item">
                {% thumbnail item.cat_name.image "500x500" crop="center" as im %}
                <div class="composition-panier-final-item-image" style="background-image:url({{ im.url }});"></div>
                {% endthumbnail %} 
                <div class="composition-panier-final-item-description">
                    <div>{{ item.cat_name.nom }} à Composer</div>
                    <div>
                    Ingrédients choisis : 
                    {% for sub_items in item.items.values %}
                        {{sub_items.product}} <!-- Les ingrédients composants la composition réalisée -->
                        {{ forloop.last|yesno:",&#44;"|safe }} <!-- Permet d'ajouter des virgules entre les ingrédients sauf au dernier ingrédient -->
                    {% empty %}
                    {% endfor %}
                    <br/>
                    Commentaire ajouté : {{ item.comment }}
                    </div>
                </div>
                <div class="composition-panier-final-item-quantite">
                        <form action="{% url "cart_remove_one_quantity_final_composed_cart" key %}" method="post">
                          {{ cart_product_form }}
                          {% csrf_token %}
                          <input type="submit" value="&minus;">
                          <input type="hidden" name="next" value="{{ request.path }}">
                        </form>
                        <form><input type="text" value="{{ item.quantity }}" name="quantity-final-cart"></form>
                        <form action="{% url "cart_add_quantity_final_composed_cart" key %}" method="post">
                          {{ cart_product_form }}
                          {% csrf_token %}
                          <input type="submit" value="&plus;">
                          <input type="hidden" name="next" value="{{ request.path }}">
                        </form>
                </div>
                <div class="composition-panier-final-item-supprimer">
                    <a href="{% url "cart_remove_final_composed_cart" key %}">
                      <img src="{% static 'img/icones/cancel.png' %}" alt="Supprimer" title="Supprimer"/>
                    </a> <!-- Lien de suppression de la composition -->
                    <a href="{% url 'cart_modify_final_composed_cart' item.cat_name.id key %}">
                      <img src="{% static 'img/icones/edit.png' %}" alt="Modifier" title="Modifier"/>
                    </a> <!-- Lien de modification de la composition -->
                </div>
                <div class="composition-panier-final-item-prix">{{ item.total_ttc_composition_composition }} €</div>
            </div>

        {% empty %}
        {% endfor %}

        {% for item in cart %}
          {% with product=item.product %}
            <div class="composition-panier-final-item">
                {% thumbnail product.article.image "500x500" crop="center" as im %}
                <div class="composition-panier-final-item-image" style="background-image:url({{ im.url }});"></div>
                {% endthumbnail %} 
                <div class="composition-panier-final-item-description">
                    <div>{{ product.article.nom }}</div>
                    <div>{{ product.article.description }}</div>
                </div>
                <div class="composition-panier-final-item-quantite">
                        <form action="{% url "cart_remove_one" product.id %}" method="post">
                          {{ cart_product_form }}
                          {% csrf_token %}
                          <input type="submit" value="&minus;">
                          <input type="hidden" name="next" value="{{ request.path }}">
                        </form>
                        <form><input type="text" value="{{ item.quantity }}" name="quantity-final-cart"></form>
                        <form action="{% url "cart_add" product.id %}" method="post">
                          {{ cart_product_form }}
                          {% csrf_token %}
                          <input type="submit" value="&plus;">
                          <input type="hidden" name="next" value="{{ request.path }}">
                        </form>
                </div>
                <div class="composition-panier-final-item-supprimer">
                    <a href="{% url "cart_remove" product.id %}"><img src="{% static 'img/icones/cancel.png' %}" alt="Supprimer" title="Supprimer"/></a>
                    <a href=""><img src="{% static 'img/icones/edit.png' %}" alt="Modifier" title="Modifier"/></a>
                </div>
                <div class="composition-panier-final-item-prix">{{ item.total_price }} €</div>
            </div>

          {% endwith %}

        {% empty %}
        {% endfor %}

      {% endif %}
        <div class="composition-panier-final-info">
            <div class="composition-panier-final-info-date"> 
                <div>
                    <p>Date et heure de retrait de la commande: </p>
                    <form>
                        <input type="text" placeholder="Sélectionner votre jour et heure" name="datepicker" id="datepicker" value="" />
                        <input type="checkbox" id="date-picker-confirmation" name="date-picker-confirmation" value="ok"/><label for="date-picker-confirmation">Je confirme la date de retrait.</label>
                    </form>
                </div>
                <div>
                    <p>
                        Si vous avez un code de réduction, c'est le moment de le saisir:
                        <form>
                            <input class="composition-panier-final-info-date-style2" type="text" name="discount-code" placeholder="Entrer votre code de réduction">
                            <input type="submit" name="soumettre-code" value="Appliquer le code" class="composition-panier-final-info-date-style3"></input>
                        </form>    
                    </p>
                </div>  
            </div>
            <div class="composition-panier-final-info-total">
                <div>Discount : <span class="bold-total-panier">0.00€</span></div>
                <div>Sous-Total : 
                  <span class="bold-total-panier">
                    {% if final_composed_cart.get_total_ht_price_general is None %}
                      0.00€
                    {% else %}
                      {{ final_composed_cart.get_total_ht_price_general }}€
                    {% endif %}
                  </span>
                </div>
                <div>TVA : 
                  <span class="bold-total-panier">
                    {% if final_composed_cart.get_total_tva_general is None %}
                      0.00€
                    {% else %} 
                      {{ final_composed_cart.get_total_tva_general }}€
                    {% endif %}
                  </span>
                </div>
                <div>Total : 
                  <span class="bold-total-panier">
                    {% if final_composed_cart.get_total_ttc_price_general is None %}
                      0.00€
                    {% else %}
                      {{ final_composed_cart.get_total_ttc_price_general}}€
                    {% endif %}
                  </span>
                </div>
            </div>
        </div> 
        <div class="bouton-validation-panier">
            <div>
                <a href="">Continuer vos Achats</a>
            </div>
            <div>
                <form method="post" action="">
                    <input type="submit" name="cart-validation" value="Valider le Panier" class="composition-panier-final-info-date-style1">
                </form>
            </div>
        </div>     
    </div> 
    <script type="text/javascript" src="{% static 'js/menu-commander/menu-produits.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/menu-commander/classie.js' %}"></script>

{% endblock %}