.commander {
	margin-top: 125px;
	background-image: url("../img/bg.png");
}

.special-semaine {
	height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex; 
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 20px;
}

.special-semaine div{
	text-align: center;
    }

.special-semaine p {
      background-color: #CE3734;
      padding: 10px 30px 10px 30px;
      color: #FFFFFF;
      font-size: 250%;
      letter-spacing: 5px;
      background-color: rgba(206,55,52,0.50);
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      border-radius: 15px;
      margin: auto;
      max-width: 50%;
}

.selection-plat {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	max-width: 1500px;
	margin: auto;
	padding: auto;
}

.article-selection-plat {
	width: 30%;
	min-width: 250px;
	margin: 15px;
	display: flex;
	flex-direction: column;
	background-color: #FFFFFF;
	border-radius: 10px 10px 10px 10px;
}

.image-article-selection-plat {
	height: 250px;
}

.image-article-selection-plat a {
	width: 100%;
	height: 250px;
}

.image-article-selection-plat img {
	width: 100%;
	height: inherit;
	object-fit: cover;
	border-radius: 10px 10px 0px 0px;
}

.image-article-selection-plat img:hover {
	cursor: zoom-in;
}

.titre-texte-article-selection-plat h1{
	letter-spacing: 1px;
	font-size: 18px;
	margin: 0;
	padding: 10px 15px 0px 15px;
}

.texte-texte-article-selection-plat p {
	letter-spacing: 1px;
	margin: 0;
	padding: 5px 15px 0px 15px;
	color: grey;
}

.prix-texte-article-selection-plat {
	margin-top: auto;
	display: flex;
	padding: 10px 15px 10px 15px;
}

.sous-catprix-texte-article-selection-plat:first-child {
	flex: 1;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1px;
}

.sous-catprix-texte-article-selection-plat:nth-child(2) {
	float: right;
}

.sous-catprix-texte-article-selection-plat img, .sous-catprix-texte-article-selection-plat input {
	width: 30px;
	height: auto;
	transition-duration: 0.5s;
}

.sous-catprix-texte-article-selection-plat img:hover, .sous-catprix-texte-article-selection-plat input:hover {
	filter: blur(0.5px);
	transition-duration: 0.5s;
}

/* Nécessaire pour la pop-up ingrédients et description du produits */
.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
	z-index: 2;
	overflow-y: scroll; /* Nécessaire pour pouvoir scroller dans la popup */
	height: 100%; /* Nécessaire pour pouvoir scroller dans la popup */
}
.overlay:target {
	visibility: visible;
	opacity: 1;
}

/*.popup { Valeur ancienne popup
	padding: 0px;
	background: #fff;
	width: 95%;
	min-height: 95%;
	position: relative;
	transition: all 0s ease-in-out;
	display: flex;
	}*/
.popup { 
	background: #fff;
	width: 95%;
	height: 95%;
	transition: all 0s ease-in-out;
	display: flex;
	position: absolute; /* permet le centrage de la popup*/
	top: 50%; left: 50%; /* à 50%/50% du parent référent */
	transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
	border-radius: 10px;
	}


.popup .close {
	position: absolute;
	top: 20px;
	right: 25px;
	transition: all 200ms;
	font-size: 70px;
	text-decoration: none;
	color: #333;
	}
.popup .close:hover {
	color: #CE3734;
}
.popup .content-popup {
	height: auto;
	overflow: auto;
}

.image-popup {
	width: 65%;
	height: auto;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0 100%, 95% 100%, 100% 0, 0 0);
    -webkit-clip-path: polygon(0 100%, 95% 100%, 100% 0, 0 0);
    border-radius: 10px 10px 10px 10px;
}

.content-popup {
	width: calc(35% - 75px);
	max-width: 600px;
}

.titre-plat-popup {
	padding-top: 25px;
}

.titre-plat-popup, .image-info-rapide img, .texte-plat-popup {
	margin-left: 15px;
}

.titre-plat-popup h1 {
	padding: 0px;
	margin: 0px;
	letter-spacing: 3px;
}

.texte-plat-popup p {
	font-size: 18px;
	line-height: 150%;
	color: grey;
	margin: 0;
}

.info-plat-popup {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
}

.infos-plat-popup {
	border-style: solid;
	text-align: center;
	border-radius: 5px;
	border-width: 1px;
	border-color: #414141;
	margin: 15px;
	margin-top: 10px;
	padding: 3px;
	width: calc(50% - 20px);
	min-width: 200px;
}

.infos-plat-popup img 
{
	width: 10%;
	height: auto;
	display: block;
	padding: auto;
	margin: auto;
}

.infos-plat-popup h1 {
	font-size: 18px;
	margin: 0;
	border-bottom-style: solid;
	border-width: 1px;
}

.image-info-rapide {
	padding: 5px;
}

.image-info-rapide img {
	width: 25px;
	height: auto;
	padding: 5px;
}


/* Fin pop-up*/



@media only screen and (max-width: 900px){

.article-selection-plat {
	width: 45%;
}

.popup {
	flex-direction: column;
	padding: 0px;
}

.image-popup {
	height: 350px;
	width: 100%;
	clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
}

.content-popup {
	width: auto;
	max-width: none;
}

.titre-plat-popup h1 {
	text-align: center;
}

.popup .close {
	z-index: 1;
}

}

@media only screen and (max-width: 699px){
.commander {
	margin-top: 20px;
}

.selection-plat {
	flex-direction: column;
	align-items: center;
}


.article-selection-plat  {
	width: 80%;
}

.image-popup {
	height: 350px;
	width: 100%;
	clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
	-webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
}

.popup .close {
	z-index: 1;
}

.texte-plat-popup {
	padding: 5px;
}

}