{% extends "base-commander.html" %}
{% load static %}
{% load thumbnail %}

{% block titre_page %} Commander {{sous_categories_articles.nom}} {% endblock %}

{% block commander_composer %}
	{% if sous_categories_articles.composer == True %}
		<div class="choix-composer-non-composer">
			<div class="choix-composer-non-composer-choix">
				<div class="choix-composer-non-composer-choix1"><a href="{% url 'articles_plats_pret' sous_categories_articles.slug sous_categories_articles.id %}">Plats déjà composés</a></div>
				<div class="choix-composer-non-composer-choix2"><img src="{% static 'img/icones/stopwatch.png' %}" alt="cart"/></div>
			</div>
			<div class="choix-composer-non-composer-choix">
				<div class="choix-composer-non-composer-choix1"><a href="{% url 'articles_plats_composer' sous_categories_articles.slug sous_categories_articles.id %}">Composer son plat</a></div>
				<div class="choix-composer-non-composer-choix2"><img src="{% static 'img/icones/checked.png' %}" alt="cart"/></div>
			</div>
		</div>
	{% endif %}

	{% if messages %}
		<div class="popup-messages-overlay">
			<div class="popup-messages">
				<a class="close-popup-message" href="#">&times;</a>
				{% for message in messages %}
					{% if message.tags == "success" %}
						<div class="{{ message.tags }}">
							<div class="image-popup-messages"></div>
							<div>{{ message|safe }}</div>
							<div class="links-popup-messages">
								<a href="{% url  'cart_detail'%}">Valider votre Panier</a>
							</div>
						</div>
					{% else %}
						<div class="{{ message.tags }}">
							<div class="image-popup-messages"></div>
							<div>{{ message|safe }}</div>
							<div class="links-popup-messages">
								<a href="#">Retourner à ma composition</a>
							</div>
						</div>	
					{% endif %}		
				{% endfor %}
			</div>
		</div>
	{% endif %}

<div class="plat-composer">
	<div class="plat-composer-choix">
		{% for cat in type_produit %}
		<details open>
			<summary>{{cat.nom}}</summary>

		<div class="selection-plat">
			{% for article in articles %}
			{% if cat.id == article.sous_categories_articles.id %}
			<div class="article-selection-plat">
				<!-- Début de la popup présentation produit -->
				<div id="big-popup{{ article.id }}" class="image-article-selection-plat">

					<a href="#popup{{ article.id }}">
						{% thumbnail article.image "500x500" as im %}
						<img src="{{ im.url }}" alt="{{ article.nom|title }}"/>
						{% endthumbnail %} 
					</a>
				</div>

				<div id="popup{{ article.id }}" class="overlay">
					<div class="popup">
						<a class="close" href="#big-popup{{ article.id }}">&times;</a>
						{% thumbnail article.image "1000x1000" as im %}
							<div class="image-popup" style="background-image:url({{ im.url }});"></div>
						{% endthumbnail %} 
						<div class="content-popup">
							<div class="titre-plat-popup"><h1>{{ article.nom|title }}</h1></div>
							<div class="image-info-rapide">
								{% if article.gluten_info == 0 and categories_articles.ordre != 1 %}
									<img src="{% static 'img/icones/gluten-free.png' %}" alt="gluten-free" title="Ne contient pas de Gluten"/>
								{% else %}
								{% endif %}	
								{% if article.vegeterien_info == 1 and categories_articles.ordre != 1 %}
									<img src="{% static 'img/icones/radish-outline.png' %}" alt="vegetarien-friendly" title="Convient aux végétariens"/>
								{% else %}
								{% endif %}
								{% if article.type_plat_info == 1 and categories_articles.ordre != 1 %}
									<img src="{% static 'img/icones/fire.png' %}" alt="hot-dish" title="Plat chaud"/>
								{% else %}
								{% endif %}
								{% if article.type_plat_info == 0 and categories_articles.ordre != 1 %}
									<img src="{% static 'img/icones/snowflake.png' %}" alt="cold-dish" title="Plat froid"/>
								{% else %}
								{% endif %}
							</div>
							<div class="texte-plat-popup"><p>{{ article.description }}</p></div>
							
							{% if article.prix_min == None %}

							<div class="info-plat-popup">
								<div class="infos-plat-popup">
									<img src="{% static 'img/icones/farm-grey.png' %}" alt="logo-producteurs"/>
									<h1>Les producteurs associés</h1>
									<p>
										{% for producteurs in article.producteurs.all %}
											{{producteurs.nom|title }} {{producteurs.prenom|title }} <br/>
										{% empty%}
											Pas de producteurs associés
										{% endfor %}
										
									</p>
								</div>

								<div class="infos-plat-popup">
									<img src="{% static 'img/icones/ingredients.png' %}" alt="logo-producteurs"/> 
									<h1>Ingrédients</h1>
									<p>
										{{ article.ingredients|title }}
									</p>
								</div>

								<div class="infos-plat-popup">
									<img src="{% static 'img/icones/allergies.png' %}" alt="logo-producteurs"/>
									<h1>Allergènes</h1>
									<p>
										{% for allergenes in article.allergenes.all %}
											{{allergenes.nom|title }}<br/>
										{% empty%}
											Pas d'allergie associée
										{% endfor %}
									</p>
								</div>
							</div>
							{% else %}
							{% endif %}
						</div>
					</div>
				</div>	
				<!-- Fin de la popup présentation produit -->			
				<div class="texte-article-selection-plat">
					<div class="titre-texte-article-selection-plat"><h1>{{ article.nom|title }}</h1></div>
					<div class="texte-texte-article-selection-plat"><p>{{ article.description }}</p></div>
				</div>
				<div class="prix-texte-article-selection-plat">
					{% if article.prix_min == None %}
					<div class="sous-catprix-texte-article-selection-plat">{{ article.prix_unitaire }} €</div>
					<div class="sous-catprix-texte-article-selection-plat">
						<form method="post" action="{% url 'cart_add' article.id %}">
							{% csrf_token %}
							{{ cart_product_form }}
							<input type="image" src="{% static 'img/icones/shopping-cart.png' %}" alt="shopping-cart" />
							<input type="hidden" name="next" value="{{ request.path }}">
						</form>
					</div>
					{% else %}
					<div class="sous-catprix-texte-article-selection-plat">A partir de {{ article.prix_min }} €</div>
					<div class="sous-catprix-texte-article-selection-plat"><a href="{% url 'articles_plats_composer' article.slug %}"><img src="{% static 'img/icones/shopping-cart.png' %}" alt="shopping-cart"/></a></div>
					{% endif %}
					
				</div>	
			</div>
			{% else %}
			{% endif %}	
			{% empty %}

			<p>Aucun produit</p>

			{% endfor %}
		</div>
		
		</details>
		{% empty %}
		<p>Aucun produit</p>
		{% endfor %}
	</div>
	<div class="plat-composer-panier">
		<div class="plat-composer-panier-entete">
			<div class="plat-composer-panier-entete1">Votre Composition</div>
			<div class="plat-composer-panier-entete2"><img src="{% static 'img/icones/shopping-cart-white.png' %}" alt="shopping-cart"/></div>
		</div>
		<div class="plat-composer-panier-container-item">
			{% for item in composed_cart %}
	        	{% with product=item.product %}
					<div class="plat-composer-panier-item">
						{% thumbnail product.image "500x500" crop="center" as im %}
						<div class="plat-composer-panier-item-image" style="background-image:url({{ im.url }});"></div>
						{% endthumbnail %} 
						<div class="plat-composer-panier-item-nom">
							<div class="plat-composer-panier-item-nom1">{{ product.nom }}</div>
							<div class="plat-composer-panier-item-nom2">x {{ item.quantity }}</div>
						</div>
						<div class="plat-composer-panier-item-delete">
							<form action="{% url "cart_remove_one" product.id %}" method="post">
		                        {{ cart_product_form }}
		                        {% csrf_token %}
		                        <input type="image" src="{% static 'img/icones/cancel.png' %}" alt="Supprimer" title="Supprimer"/>
		                        <input type="hidden" name="next" value="{{ request.path }}">
	                      	</form>
						</div>
					</div>
				{% endwith %}

	      	{% empty %}
	        <p>Votre panier est vide</p>
	        {% endfor %}
	    </div>
		<div class="requirements">
			<h2>Un petit commentaire à ajouter?</h2>
			<textarea placeholder="Une envie, une suggestion dans la préparation de votre commande, pas de problème, faites le savoir!">
			</textarea>
		</div>	

		<div class="plat-composer-panier-boutton">
			<div class="plat-composer-panier-boutton-continue">
				<form action="{% url "add_to_final_composed_cart" sous_categories_articles.id %}" method="post">
                    {{ cart_product_form }}
                    {% csrf_token %}
                    <button type="submit" alt="Supprimer votre Composition" title="Supprimer votre Composition">Supprimer votre Composition</button>
                    <input type="hidden" name="next" value="{{ request.path }}">
              	</form>
			</div>
			<div class="plat-composer-panier-boutton-checkout">
				<form action="{% url "add_to_final_composed_cart" sous_categories_articles.id %}" method="post">
                    {{ cart_product_form }}
                    {% csrf_token %}
                    <button type="submit" alt="Ajouter au Panier" title="Ajouter au Panier">Ajouter au Panier</button>
                    <input type="hidden" name="next" value="{{ request.path }}">
              	</form>
			</div>
		</div>
	</div>

</div>
{% endblock %}