{% load static %}
{% load thumbnail %}
<html lang="fr">
    <head>
      <meta charset="utf-8">
      <title>La Fabrique à Sandwiches - Repas sur le pouce, sains et sur mesure.</title>
      <link rel="stylesheet" href="{% static 'css/index.css' %}">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" /> <!-- Pour les périphériques mobiles afin que la largeur di site s'adapte à la largeur de l'écran mobile -->
      <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
      <link rel="stylesheet" href="{% static 'js/aos-master/aos.css' %}" />
    </head>
    <body>

<div class="site-pusher"> <!-- nécessaire pour pousser le site quand menu petite résolution -->
<div class="container"> <!-- Nécessaire pour flex box -->

        <header class="header">
            <a href="" class="header__icon"></a>
            <a href="" class="header__logo"></a>
            <nav class="menu">
                    <a href="{% url 'home' %}"><img class="logo" src="{% static 'img/icones/logo-white.png' %}"></a>
                    <a href="{% url 'home' %}"><img class="icone-menu" src="{% static 'img/icones/home-white.png' %}">Accueil</a>
                    {% if menu_commander_categories.0.slug == None %}
                    {% else %}
                    <a href="{% url 'articles_plats' menu_commander_categories.0.slug menu_commander_categories.0.ordre %}"><img class="icone-menu" src="{% static 'img/icones/online-shopping-cart-white.png' %}">Commander</a>
                    {% endif %}
                    {% if menu_producteurs_categories.0.slug == None %}
                    {% else %}
                    <a href="{% url 'producteurs' menu_producteurs_categories.0.slug menu_producteurs_categories.0.ordre %}"><img class="icone-menu" src="{% static 'img/icones/farm-white.png' %}">Producteurs</a>
                    {% endif %}
                    <a href=""><img class="icone-menu" src="{% static 'img/icones/you-are-here.png' %}">Nous Situer</a>
            </nav>
        </header>

        <div class="site-content">
                        <div class="menu-top-commander">
                            <div class="menu-top-commander-texte">Menu</div>
                            <div class="menu-top-commander-texte">
                                {% for nom_categorie in menu_commander_categories %}
                                <div class="menu-top-commander-texte-lien"><p><a href="{% url 'articles_plats' nom_categorie.slug nom_categorie.ordre %}">{{nom_categorie|title}}</a></p></div>
                                {% endfor %}
                                <div class="menu-top-commander-texte-lien"><p><a href="{% url  'cart_detail'%}"><img src="{% static 'img/icones/shopping-cart.png' %}" alt="shopping cart"></a></p>
                                
                                    {% url  'cart_detail' as url_cart %} <!-- Condition qui permet de ne pas affichier le panier déroulant lorsque l'on se trouve sur la page du panier-->
                                    {% if request.get_full_path == url_cart %}
                                    <!-- Si navigateur se trouve sur la page du panier, alors, ne rien afficher. -->
                                    {% else %}
                                        <div class="fixed-cart">
                                            <div class="fixed-cart-suite">
                                                <div class="fixed-cart-items">
                                                    {% if final_composed_cart == None and cart == None %}
                                                        <p>Votre Panier est actuellement vide.</p>
                                                    {% else %}  
                                                        {% for item in cart %}
                                                        {% with product=item.product %}
                                                            <div class="fixed-cart-item">
                                                                {% thumbnail product.article.image "200x200" crop="center" as im %}
                                                                <div class="fixed-cart-item-image" style="background-image:url({{ im.url }});"></div>
                                                                {% endthumbnail %} 
                                                                <div class="fixed-cart-item-texte">
                                                                    <div>{{ product.article.nom }}</div>
                                                                    <div>
                                                                        <form method="post" action="{% url 'cart_add' product.id %}">
                                                                        {% csrf_token %}
                                                                        {{ cart_product_form }}
                                                                        <input type="image" src="{% static 'img/icones/plus-2.png' %}" alt="Ajouter" />
                                                                        <input type="hidden" name="next" value="{{ request.path }}">
                                                                        </form>
                                                                        <form method="post" action="{% url 'cart_remove_one' product.id %}">
                                                                        {% csrf_token %}
                                                                        {{ cart_product_form }}
                                                                        <input type="image" src="{% static 'img/icones/remove.png' %}" alt="Enlever" />
                                                                        <input type="hidden" name="next" value="{{ request.path }}">
                                                                        </form>
                                                                        <p>x{{ item.quantity }}</p>
                                                                    </div>
                                                                </div>
                                                                <div class="fixed-cart-item-prix">{{ item.total_price }} €</div>
                                                            </div>
                                                        {% endwith %}
                                                        {% empty %}
                                                        {% endfor %}

                                                        <!-- Début du panier composition -->
                                                        {% for key, item in final_composed_cart %}
                                                            <div class="fixed-cart-item">
                                                                {% thumbnail item.cat_name.image "200x200" crop="center" as im %}
                                                                <div class="fixed-cart-item-image" style="background-image:url({{ im.url }});"></div>
                                                                {% endthumbnail %} 
                                                                <div class="fixed-cart-item-texte">
                                                                    <div>{{ item.cat_name.nom }} à Composer
                                                                    <div class="texte-composition">
                                                                        {% for sub_items in item.items.values %}
                                                                            {{sub_items.product}} <!-- Les ingrédients composants la composition réalisée -->
                                                                            {{ forloop.last|yesno:",&#44;"|safe }} <!-- Permet d'ajouter des virgules entre les ingrédients sauf au dernier ingrédient -->
                                                                        {% empty %}
                                                                        {% endfor %}
                                                                    </div>
                                                                    </div>
                                                                    <div>
                                                                        <form action="{% url "cart_add_quantity_final_composed_cart" key %}" method="post">
                                                                        {% csrf_token %}
                                                                        {{ cart_product_form }}
                                                                        <input type="image" src="{% static 'img/icones/plus-2.png' %}" alt="Ajouter" />
                                                                        <input type="hidden" name="next" value="{{ request.path }}">
                                                                        </form>
                                                                        <form action="{% url "cart_remove_one_quantity_final_composed_cart" key %}" method="post">
                                                                        {% csrf_token %}
                                                                        {{ cart_product_form }}
                                                                        <input type="image" src="{% static 'img/icones/remove.png' %}" alt="Enlever" />
                                                                        <input type="hidden" name="next" value="{{ request.path }}">
                                                                        </form>
                                                                        <p>x{{ item.quantity }}</p>
                                                                    </div>
                                                                </div>
                                                                <div class="fixed-cart-item-prix">{{ item.total_ttc_composition_composition }} €</div>
                                                            </div>
                                                        {% empty %}
                                                        {% endfor %}
                                                    {% endif%}

                                                </div>
                                                <div class="fixed-cart-total">
                                                    <div>Total</div>
                                                    <div>{{ cart.get_total_price }} €</div>
                                                </div>
                                                <div class="fixed-cart-icons">
                                                    <div><img src="{% static 'img/icones/credit-card.png' %}" title="Paiement Sécurisé" alt="secured-payment"/><p>Paiement Sécurisé</p></div>

                                                    <div><img src="{% static 'img/icones/ticket.png' %}" title="Tickets restaurants acceptés" alt="ticket-restaurant"/><p>Tickets Restaurants</p></div>
                                                </div>
                                                <div class="fixed-cart-validated"><a href="{% url  'cart_detail'%}">Valider votre Panier</a></div>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="menu-top-commander-texte-lien"><p><a href=""><img src="{% static 'img/icones/profile.png' %}" alt="shopping cart"></a></p></div>
                            </div> 
                        </div>

                    <div class="commander">

                        {% block commander %} {% endblock %}
                        {% block commander_composer %} {% endblock %}
                        {% block commander_pret %} {% endblock %}
                        {% block panier %} {% endblock %}
                    </div>

        </div>    <!-- Nécessaire pour permettre de rentrer le menu en cliquant n'importe où sur la page -->
                                    <!-- Début footer -->     
        <footer>
            <div class="footer-trait"></div>
            <div class="top-footer"> 
                <div class="top-logo-footer"> <img src="{% static 'img/icones/logo-noir-clair.png' %}" alt="logo footer"/></div>
                <div class="nom-top-logo-footer">La Fabrique à Sandwiches</div>
            </div>
            <div class="bottom-footer">
                <div class="bottom-footer-categories"> <a href="">Contact</a> <a href="">CGV</a> <a href="">Mentions légales</a> <a href="">Presse</a>   </div>
                <div class="bottom-footer-annee"> © {% now "Y" %} - La Fabrique à Sandwiches</div>   
            </div>
        </footer>   

</div>

    <div class="site-cache" id="site-cache"></div>
</div>
<!-- Début chargement javascript -->
<!-- Script pour le menu responsive -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/responsive-menu/app.js' %}"></script>
<script type="text/javascript" src="{% static 'js/menu-commander/menu-produits.js' %}"></script>
<script type="text/javascript" src="{% static 'js/menu-commander/classie.js' %}"></script>
<script type="text/javascript" src="{% static 'js/remove-popup-message/remove-popup-messages.js' %}"></script>
<script type="text/javascript" src="{% static 'js/fix-ie-image/fix-ie-image.js' %}"></script>
<!-- Fin script menu responsive -->
<!-- Fin chargement javascript-->

    </body>
</html>